<div class="container-fluid d-flex justify-content-center align-items-start mt-4" style="background-color: #f8f9fa;">
  <div class="text-center bg-white p-4 rounded shadow-lg">
    <h1 class="display-4">Welcome to the Presentation Evaluation App</h1>
    <p class="lead mt-3">Manage and evaluate presentations effectively and get feedback from peers.</p>
    <div class="mt-4">
      <%= link_to 'Log In', new_user_session_path, class: 'btn btn-primary btn-lg mx-2' %>
      <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary btn-lg mx-2' %>
    </div>
  </div>
</div>
