<div id="<%= dom_id event %>">
  <p>
    <!-- Display event name -->
    <strong>Ename:</strong>
    <%= event.ename %>
  </p>

  <p>
    <!-- Display associated course ID -->
    <strong>Course:</strong>
    <%= event.course_id %>
  </p>

</div>
